<template name="panier">
    <form class="totalcommande">
        <div class="content">
            <h2>Votre commande</h2>
            <h3>Total de votre commande : {{totalite}}€ </h3>

            <ul>
                {{#each panier}}
                <div class="prix">{{counter}} {{name}} à {{price}}€ = {{total}} €
                    <img  src="/{{image}} " class="prod"/>
                </div>
                <input class="remove" name="supprimer" type="submit" value="supprimer">

                <input class="modif {{_id}}" name="inputcompteur" type="number" min=0 max=7 value={{counter}}>

                <!--   <li id="test">{{compteur}} {{price}} = {{total}} €
                        <div class="modifier">
                    <input class="plus" type="submit" value="+">
                    <input class="moins" type="submit" value="-">
                        </div>
                    </li>-->
                {{/each}}
            </ul>
        </div>
        <a class="retour" href="{{pathFor 'categorie'}}">
            <input type="submit" name="accueil" value="Accueil">
        </a>
    </form>
</template>



